##################################################################
## IMPORTs
##################################################################

import(sp,
       raster,
       rgdal,
       meteoForecast)

importFrom(lattice,
           xyplot,
           panel.polygon,
           panel.abline,
           panel.xyplot,
           panel.text,
           xscale.components.default,
           yscale.components.default
           )

importFrom(latticeExtra,
           custom.theme.2,
           layer, layer_
           )

importFrom(solaR,
           as.zooI,
           calcSol,
           local2Solar
           )

importFrom(gstat,
           idw)

import(quantregForest)

importFrom(zoo,
           zoo,
           as.zoo,
           index
           )

importFrom(xts,
           as.xts)
           
importFrom(parallel,
           mclapply)

##################################################################
## EXPORT
##################################################################
export(
    'extractForecast',
    'plotQR',
    'predictPac',
    'predVarsLocal',
    'rfPredict',
    'rfScenario',
    'scenarioSet',
    'targetDiagram',
    'roseDiagram',
    'PVFstats',
    'qqStats',
    'hour',
    'hourHalf',
    'minute'
    )
